/*gerenal rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-width: 1200px;
}

.d-flex {
    display: flex;
    justify-content: space-between;

}

.container {
    margin: auto;
    width: 70%;
}

/*debug*/
.debug * {
    border: 1px dashed;
}

.debug .container {
    background-color: aqua;
}

.debug header {
    height: 100px;
    background-color: orange;
}

.debug .card {
    height: 400px;
    width: 30%;
    background-color: aliceblue;
}

.debug footer {
    height: 100px;
    background-color: black;

}

/*header*/
header {
    background-color: orange;
    padding: 10px;

    a {
        color: white;
        text-decoration: none;
        padding-left: 3px;
        font-size: 12px;
    }

    .align-items {
        align-items: center;
    }

    .icon {
        color: white;
    }
}

.logo>img {
    width: 100px;
}
/*main*/
.card {
    width: 30%;
    padding: 10px;

    img {
        max-width: 100%;
        height: auto;
    }

    .brand {
        font-size: 15px;

    }
}

strong {
    display: block;
    font-size: 15px;
}

.sale {
    color: red;
    font-size: 13px;
}

.msrp {
    text-decoration: line-through;
    font-size: 13px;
}
/*footer*/
footer {
    background-color: black;
    padding: 20px;

    h4,
    h5 {
        color: white;
        padding-bottom: 5px;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    .socialnetwork {
        color: white;
    }

}